.header-classname {
    display: flex;
    justify-content: space-between; 
    background-color:#eb5a23;
    padding: 10px;
    padding-left: 3% ;
    padding-right: 3%;
}
.divTitlu{
    width: 30%;
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
.divButoane {
    display: flex;
    gap: 10px;
    position: relative;
}
.butoane{
    background-color: transparent;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
.butoane:hover{
    text-decoration: underline;
}
.drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    align-items: center;
}

.drawer-content {
    padding: 20px;
}

.drawer h2 {
    font-family: "Luckiest Guy", cursive;
}

.drawer p {
    font-size: large;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}
.butonCheckout{
    margin-left: 10%;
    background-color:#eb5a23;
    width: 80%;
    height: 5%;
    border-radius: 15px;
    border: transparent;
    font-size: large;
    font-family: "Luckiest Guy", cursive;
    color: white;
    cursor: pointer;


}
.butonCheck:hover{
    transform: scale(1.05);
}