.header-classname {
    display: flex;
    justify-content: space-between; 
    background-color:#eb5a23;
    padding: 10px;
    padding-left: 3% ;
    padding-right: 3%;
}
.divTitlu{
    width: 30%;
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
.divButoane {
    display: flex;
    gap: 10px;
    position: relative;
}
.butoane{
    background-color: transparent;
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
.butoane:hover{
    text-decoration: underline;
}